body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #1d1c29;
    margin: 0;
}

.title {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: bisque;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #333; 
    font-size: 30px; 
}

/* Facebook icon color */
.social-icons a:nth-child(1) i {
    color: #3b5998;
}

/* Twitter icon color */
.social-icons a:nth-child(2) i {
    color: #1da1f2;
}

/* Instagram icon color */
.social-icons a:nth-child(3) i {
    color: #e4405f;
}

/* YouTube icon color */
.social-icons a:nth-child(4) i {
    color: #c4302b;
}

.social-icons a:nth-child(5) i{
    color: #c4302b;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
}

.content h2 {
    color: beige;

}

.description,
.donation-options,
.contact {
    margin-bottom: 30px;
    color: bisque;
}

.description p,
.about-project p,
.contact p {
    line-height: 1.6;
    color: bisque;
}

.contact{
    color: bisque;
}

.address {
    font-style: none;
    color: bisque;
}

.address a {
    color: bisque;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;;
}

ul{
    color: bisque;
}

address{
    color: bisque;
}