/* Variables for website */
:root {
  --bgcolor: #030303;
  --maincolor: #00e5b0;
  --secondarycolor: #1d1c29;
  --textcolor: #fff;
  --padding1: 1rem;
  --margin1: 1rem;
  --fontsize1: 1rem;
  --fontfamily1: 'Varela Round', Tahoma, Helvetica, Verdana, Arial, sans-serif;
  --fontfamily2: 'Roboto', Tahoma, Helvetica, Verdana, Arial, sans-serif;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* General styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bgcolor);
  color: var(--textcolor);
  font-family: var(--fontfamily2);
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--maincolor);
  color: var(--bgcolor);
  padding: var(--padding1);
  font-weight: bold;
  font-size: var(--fontsize1);
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid var(--maincolor);
}

button:hover {
  background-color: var(--bgcolor);
  color: var(--textcolor);
}

/* Header and Navigation styles */
.nav-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-web {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--fontfamily1);
  list-style-type: none;
  padding: var(--padding1);
  background-color: #555;
  box-shadow: 0px 1px 5px rgba(81, 80, 80, 0.7);
}

.nav-web a {
  font-size: var(--fontsize1);
  color: var(--textcolor);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-bottom: solid 3px transparent;
}

.nav-web a:hover {
  color: var(--maincolor);
  border-bottom: solid 3px var(--maincolor);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: var(--padding1);
}

.company-name {
  font-family: var(--fontfamily2);
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--textcolor);
}

.header-spans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  width: 50%;
}

.search {
  background-color: transparent;
  border: 2px solid var(--maincolor);
  padding: 0.5rem;
}

#search-input {
  font-family: var(--fontfamily1);
  font-size: var(--fontsize1);
  color: var(--textcolor);
  background-color: transparent;
  padding: 0.5rem;
  max-width: 12rem;
  height: 1.5rem;
  border: none;
}

#search-input:focus {
  color: var(--maincolor);
}

.fa-search {
  color: var(--textcolor);
  margin-right: 0.5rem;
}

.user-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

.user-wrapper i {
  color: var(--textcolor);
  font-size: 1.25rem;
}

.user-wrapper i:hover {
  color: var(--maincolor);
}

.fa-cart-shopping::after {
  content: attr(value);
  font-size: 0.8rem;
  color: var(--textcolor);
  background: var(--secondarycolor);
  border: 1px solid var(--maincolor);
  border-radius: 50%;
  padding: 4px 6px;
  position: relative;
  left: -5px;
  top: -12px;
  opacity: 0.9;
}

/* Hero and Section styles */
.hero-section,
.hero-section-2 {
  display: flex;
  margin: var(--margin1) auto;
}

.hero-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hero-content {
  padding-left: 3rem;
  padding-top: 3rem;
}

.hero-content-2 {
  padding-left: 5rem;
  padding-top: 5rem;
}

.title {
  font-family: var(--fontfamily1);
  color: beige;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.hero-title {
  font-family: var(--fontfamily1);
  font-size: 2.5rem;
  background-color: #fff;
  color: var(--bgcolor);
  width: fit-content;
  padding: 0 var(--padding1);
}

.hero-title-2 {
  font-family: var(--fontfamily1);
  font-size: 2.5rem;
  background-color: transparent;
  color: var(--textcolor);
  padding: 0;
  margin-bottom: var(--margin1);
}

.hero-title-3 {
  font-family: var(--fontfamily1);
  font-size: 2.5rem;
  background-color: transparent;
  color: red;
  padding: 0;
  margin: 5rem 0;
}

.hero-desc {
  margin-top: var(--margin1);
  font-size: 2rem;
  color: beige;
}

.hero-btn {
  font-size: 1.2rem;
  width: 15rem;
  margin-top: var(--margin1);
  border-radius: 0.25rem;
}

/* Products and Icons Section styles */
.products-section,
.icons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--padding1) 0.5rem;
  margin: var(--margin1) auto;
}

.products-section button{
  margin-top: 20px;
}

.products-container,
.container-icons {
  padding: var(--padding1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-circle:hover{
  background-color: var(--secondarycolor);
  color: var(--textcolor);
}

.cat-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 10rem;
  height: 10rem;
}

.icon-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4.375rem;
  width: 4.375rem;
  background-color: var(--maincolor);
  border-radius: 50%;
  padding: 0.625rem;
  margin: 0.5rem;
}

.icon-title {
  font-size: 1.2rem;
  font-family: var(--fontfamily1);
}

.shopping-cart button {
  width: 80%;
  font-size: 1.1rem;
  margin-bottom: var(--margin1);
}

/* Main Section styles */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.postimg.cc/SQCPH7Vj/66aeb7fe732522fb1c57affe9ab4c55d.jpg');
  background-size: cover;
  backdrop-filter: blur(5px);
}

/* Footer styles */
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: var(--margin1);
}

.footer-links a {
  font-size: var(--fontsize1);
  color: var(--textcolor);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--maincolor);
}

/* Styles for footer */
footer {
background-color: #333;
color: #fff;
padding: 30px;
}

/* Styles for footer menu */
.footer-menu {
display: flex;
justify-content: space-between;
}

.footer-nav-column {
flex: 1;
margin-right: 20px;
}

.footer-nav-container {
list-style: none;
padding: 0;
}

.li-title {
font-weight: bold;
margin-bottom: 10px;
}

.footer-nav-container li {
margin-bottom: 5px;
}

/* Styles for subscribe section */
.subscribe {
display: flex;
flex-direction: column;
}

.email {
margin-top: 20px;
margin-bottom: 10px;
}

#subscribe-input {
padding: 5px;
margin-right: 5px;
}

#subscribe-btn {
padding: 5px 10px;
background-color: #fff;
color: #333;
border: none;
cursor: pointer;
}

#subscribe-btn:hover {
background-color: #555;
color: var(--maincolor);
}

/* Styles for social media icons */
.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
color: #fff;
text-decoration: none;
margin-right: 10px;
}

/* Styles for language and payment methods */
.lang-pay {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.language, .paying-methods {
margin-right: 10px;
}

.fa-globe, .fa-brands {
color: #fff;
font-size: 24px;
margin-right: 10px;
}

/* Styles for the copyright */
.copyright {
margin-top: 20px;
text-align: center;
}

footer input{
  font-family: var(--fontfamily1);
  color: var(--textcolor);
  font-size: var(--fontsize1);
  background-color: transparent;
  padding: 0.5rem;
  max-width: 12rem;
  height: 1.5rem;
  border: solid var(--maincolor);
}

.footer-menu a {
  color: var(--textcolor);
  text-decoration: none;
}

.footer-menu a:hover {
  color: var(--maincolor);
  border-bottom: solid 3px var(--maincolor);
}

.animated {
  opacity: 0; 
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.animated.show {
  opacity: 1;
  transform: translateY(0);
}

/*
@media only screen and (min-width: 1201px) {
  main {
    background-image: url('https://i.postimg.cc/SQCPH7Vj/66aeb7fe732522fb1c57affe9ab4c55d.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
  }

  .subscribe {
    width: 12rem;
    padding: 1rem;
  }

  #subscribe-btn {
    width: 8rem;
  }

  #subscribe-input {
    max-width: 10rem;
    font-size: 1rem;
  }
  }



@media only screen and (max-width: 1050px) {
   main{
    background-image: url('https://i.postimg.cc/SQCPH7Vj/66aeb7fe732522fb1c57affe9ab4c55d.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
   }

  .hero-content-2 {
    padding-left: 3.5rem;
    padding-top: 3.5rem;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-title-2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }
  .hero-title-3 {
    font-size: 2rem;
    margin: 4rem 0;
  }
  .hero-desc {
    font-size: 1.5rem;
  }
  .img-products img {
    max-width: 13.5rem;
  }
  button {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 800px) {
  main{
    background-image: url('https://i.postimg.cc/SQCPH7Vj/66aeb7fe732522fb1c57affe9ab4c55d.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
  }

  .header {
    padding: 0.5rem;
  }
  .company-name {
    font-size: 1.5rem;
  }
  .header-spans {
    width: 55%;
  }
  #search-input {
    max-width: 9rem;
  }
  .title {
    font-size: 2rem;
  }
  .hero-btn {
    font-size: 1.1rem;
    width: 10rem;
    padding: 0.75rem;
  }
  .hero-content-2 {
    padding-left: 2.75rem;
    padding-top: 2.75rem;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .hero-title-2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .hero-title-3 {
    font-size: 1.8rem;
    margin: 2.75rem 0;
  }
  .hero-desc {
    font-size: 1.25rem;
  }
  .img-products {
    margin: 0.5rem;
  }
  .img-products img {
    max-width: 10rem;
  }
  .cat-icon {
    width: 7.5rem;
    height: 7.5rem;
  }
  .icon-circle {
    height: 3.65rem;
    width: 3.65rem;
  }
  .icon-title {
    font-size: 1rem;
  }
  footer {
    padding: 0.75rem;
  }
  .footer-menu {
    justify-content: center;
    gap: 0.5rem;
  }
  .footer-nav-column {
    width: 25%;
  }
  #subscribe-btn {
    width: 6rem;
    margin-left: 1rem;
  }
  .subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding: 1rem;
  }
  .social-media {
    padding: 0.75rem;
    margin-top: 0;
  }
  .social-media a {
    font-size: 1.7rem;
    margin: 0.2rem 0.75rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .atc-btn,
  .rm-btn {
    margin-top: 0.75rem;
  }
  .cart-prod-container .cart-prod {
    margin: 0.5rem 0;
  }
  #buttons-column {
    gap: 1.2rem;
  }
}

@media only screen and (max-width: 700px) {
 main{
    background-image: url('https://i.postimg.cc/SQCPH7Vj/66aeb7fe732522fb1c57affe9ab4c55d.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
 }

  .img-products img {
    max-width: 15rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .atc-btn,
  .rm-btn {
    margin-top: 1rem;
  }
  button {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  main{
    background-color: var(--secondarycolor);
  }

  .header {
    flex-direction: column;
    padding: 0;
  }
  .company-name {
    margin: 1rem;
  }
  .header-spans {
    width: 90%;
  }
  .title {
    font-size: 1.8rem;
  }
  .hero-content {
    padding-left: 2rem;
    padding-top: 2rem;
  }
  .hero-title {
    font-size: 1.6rem;
    padding: 0 0.5rem;
  }
  .hero-title-2 {
    font-size: 1.6rem;
    margin-bottom: 0.35rem;
  }
  .hero-title-3 {
    font-size: 1.6rem;
    margin: 1.3rem 0;
  }
  .hero-content-2 {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
  }
  .hero-desc {
    font-size: 1rem;
  }
  .hero-btn {
    font-size: 1rem;
    width: 8rem;
    padding: 0.6rem;
  }
  .icon-circle {
    height: 3.5rem;
    width: 3.5rem;
  }
  .icon-title {
    font-size: 0.9rem;
  }
  footer {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
 main{
   background-color: var(--secondarycolor);
 }

  .header {
    padding: 0.5rem 0;
  }
  #search-input {
    max-width: 8rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .hero-content {
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .hero-content-2 {
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .hero-teatle,
  .hero-teatle-2 {
    font-size: 1.2rem;
  }
  .hero-title-3 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  .hero-desc {
    font-size: 0.9rem;
  }
  .hero-btn {
    width: 6rem;
    padding: 0.3rem;
  }
  .products-section {
    padding: 0;
  }
  .products-container {
    flex-direction: column;
    padding: 0;
  }
  .container-icons {
    gap: 1rem;
  }
  .icon-circle {
    height: 3.25rem;
    width: 3.25rem;
  }
  footer {
    padding: 0;
  }
  .footer-menu {
    padding: 0;
  }
  .footer-nav-container li {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .footer-nav-container {
    width: 100%;
    padding: 0.5rem;
  }
  .subscribe p {
    font-size: 0.9rem;
    max-width: 90%;
  }
  #subscribe-input {
    font-size: 0.9rem;
    max-width: 7rem;
  }
  .footer-nav-column {
    margin: 0.5rem;
  }
}

/* 
@media only screen and (max-width: 350px) {
  body {
    background-color: var(--secondarycolor);
  }

  .subscribe {
    width: 90%;
    padding: 0.75rem;
  }

  #subscribe-btn {
    width: 6rem;
  }

  #subscribe-input {
    max-width: 10rem;
    font-size: 0.9rem;
  }

  .nav-web {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1d1c29;
    z-index: 999;
  }
}
